@font-face {
  font-family: "BoldMontreal";
  src: url("../assets/fonts/pp-neuemontreal-bold.otf");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #222;
}

h1 {
  margin-bottom: 12px;
}

div {
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  color: #aaa;
  padding: 15px 40px;
  font-size: 14px;
}

.footer-left a {
  margin-right: 20px;
  color: #aaa;
  text-decoration: none;
}

.footer-left a:hover {
  color: white;
}

.footer-right {
  font-size: 13px;
  font-family: "BoldMontreal";
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  color: #fff;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbarSearchIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #252525;
  padding: 8px 12px;
  border-radius: 8px;
  width: 300px;
}
.search-icon {
  width: 20px;
  height: 20px;
}
.navbar__search-input {
  border: none; /* geen standaard rand */
  background: transparent; /* maakt het veld doorzichtig zodat de containerkleur zichtbaar is */
  outline: none; /* geen blauwe focusrand */
  flex: 1; /* neemt alle resterende ruimte in het blok */
  font-size: 14px; /* tekst grootte */
  color: #333; /* kleur van de tekst, zwart/grijs zodat je het goed ziet */
  padding: 4px 0; /* beetje ruimte boven en onder de tekst */
}
