* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --black: #111111;
  --off-black: #1B1B1B;
  --off-white: #e2e2e2;
  --white: #ffffff;
  --beige: #d0d2cc;
  --yellow: #feb800;
  --orange: #ff573b;
  --green: #018848;
  --blue: #0988EF;
  background-color: var(--black);
}

body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #222;
}

h1 {
  margin-bottom: 12px;
}

div {
  padding: 20px;
}